<div class="hero">
	<br />

	<div class="herotitle col-xs-10 col-xs-offset-1 text-right">
		<h1>Dāna</h1>
		<h5>or Daana (Pāli, Sanskrit: दान dāna)</h5>
		<h2>The virtue of generosity or giving,</h2>
		<h2>given from the heart.</h2>
	</div>
</div>